@model string
@using Microsoft.AspNetCore.Identity;
@inject UserManager<ApplicationUser> UserManager;
@{
	var opponents = ViewData["Opponents"] as TeamOpponents;
	var userId = UserManager.GetUserId(User);
}

<h1>Make Your Prediction</h1>

<form method="post" action="/@userId/predictions/create">
	<label for="winner">Select who you think will win</label>

	<select class="form-select-sm" name="winnerSlug" id="winner">
		<option value="" disabled selected>Choose a Team</option>
		@foreach(var opponent in opponents.Opponents)
		{
			<option value="@opponent.Slug">@opponent.Name</option>
		}
	</select>

	<input type="hidden" id="matchSlug" name="matchSlug" value="@Model"/>

	<button class="btn btn-success btn-lg" type="submit">Make Prediction</button>
</form>

@await Html.PartialAsync("_ReturnToMatchPartial")

