@model string
@using Microsoft.AspNetCore.Identity;
@inject UserManager<ApplicationUser> UserManager;
@{
	var opponents = ViewData["Opponents"] as TeamOpponents;
	var userId = UserManager.GetUserId(User);
}
<br />
<h1 class="text-center">Make Your Prediction</h1>
<br />

<div class="d-flex align-items-center justify-content-center text-center">
	<form method="post" action="/@userId/predictions/create">
		<strong><label for="winner">Select who you think will win</label></strong>

		<select class="form-select" name="winnerSlug" id="winner">
			<option value="" disabled selected>Choose a Team</option>
			@foreach (var opponent in opponents.Opponents)
			{
				<option value="@opponent.Slug">@opponent.Name</option>
			}
		</select>
		<br />

		<input type="hidden" id="matchSlug" name="matchSlug" value="@Model" />

		<button class="btn btn-success btn-lg" type="submit">Make Prediction</button>
	</form>
</div>
<br />

@await Html.PartialAsync("_ReturnToMatchPartial")

