@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <h1 class="display-4">Welcome To EsportsPredictor</h1>
    <br />
    <p>EsportsPredictor is an app where you can see information about upcoming professional video game matches, teams, and players.
        When viewing a match, you can make a prediction on who will win. 
        Your predictions page keeps track of all the predictions you have made and updates to show if you were correct or not after the matches take place.</p>
    <p>You can view most pages as a guest, but in order to make a prediction you will need to create an account.</p>
    <p>If you would like to see more about how the app works or set up your own local version, you can visit its GitHub repository <a class="text-info" href="https://github.com/SGrinstead/EsportsPredictor">Here</a>.</p>
    <br />
    <form method="get" action="/tournaments/">
        <button class="btn btn-lg btn-success" type="submit">Get Started</button>
    </form>
</div>
