@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To EsportsPredictor</h1>
    <p>You can view most pages as a guest, but in order to make a prediction you will need to create an account</p>
</div>
