@model List<Videogame>

<div>
	<h1>Tournaments</h1>
	<form method="get" action="/tournaments/upcoming">
		<label for="game">Filter by Game</label>

		<select class="form-select" name="game" id="game">
			<option value="" disabled selected>Choose a Video Game</option>
			@foreach (var game in Model)
			{
				<option value="@game.Slug">@game.Name</option>
			}
		</select>

		<button class="btn btn-info" type="submit">Find Tournaments</button>
	</form>
</div>

<div>
	<h3>All Upcoming Tournaments</h3>
	<form method="get" action="/tournaments/upcoming">
		<button class="btn btn-info" type="submit">See All Tournaments</button>	
	</form>
</div>