@model List<Videogame>

<h1>Tournaments</h1>
<form method="get" action="/tournaments/upcoming">
	<label for="game">Choose a VideoGame:</label>

	<select name="game" id="game">
		@foreach(var game in Model)
		{
			<option value="@game.Slug">@game.Name</option>
		}
	</select>

	<button type="submit">Find Tournaments</button>
</form>

<h3>All</h3>
<a href="/tournaments/upcoming">temp link</a>